<!DOCTYPE html>
<html>
<head>
  <title>Add Quiz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
        {{message}}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<body>
<center>
  <h1>Add Quiz:</h1>
    <form action="/quiz/add" method="post">
      <b>Quiz Subject:</b><input type="text" name="subject">
      <b>Number of Questions on Quiz:</b><input type="number" name="questions">
      <b>Date of Quiz:</b><input type="date" name="date" placeholder="yyyy-mm-dd">
      <input type ="submit" value="Submit">
    </form>
</center>
</body>
</html>

